{{- define "main" -}}
<h1>{{ .Title }}</h1>

<input onkeyup="search(this.value)" size="15" autocomplete="off" autofocus />
<span id="inputWord"></span> <span id="resultCount"></span>
<div id="result"></div>

<script src="/{{ .Site.Language.Lang}}/js/data.js"></script>

<style>
#searchbox > input {
color: #666;
font-size: 1.2em;
font-weight: bolder;
border: solid;
border-color: #ccc;
border-width: 1px;
padding: 5px;
}
input::-webkit-input-placeholder {
color: #999;
}
#result {
margin: 1em;
}
.item_title {
text-decoration: none;
color: #009FE8;
font-weight: bolder;
}
.item_excerpt {
background: #fff;
margin: 0.5em;
padding: 0.5em;
border: dashed 1px #ddd;
font-size: smaller;
}
.item_excerpt b {
background: #A3DDE3;
}
</style>

<script>
function search(query) {
  var result = searchData(query);
  var html = createHtml(result);
  showResult(html);
  showResultCount(result.length, data.length);
}

function searchData(query) {
  var result = [];

  query = query.trim();
  if (query.length < 1) {
    return result;
  }
  var re = new RegExp(query, 'i');
  for (var i = 0; i < data.length; ++i) {
    var pos = data[i].body.search(re);
    if (pos != -1) {
      result.push([i, pos, pos + query.length]);
    }
  }
  return result;
}

function createHtml(result) {
  var htmls = [];
  for (var i = 0; i < result.length; ++i) {
    var dataIndex = result[i][0];
    var startPos = result[i][1];
    var endPos = result[i][2];
    var url = data[dataIndex].url;
    var title = data[dataIndex].title;
    var body = data[dataIndex].body;
    htmls.push(createEntry(url, title, body, startPos, endPos));
  }
  return htmls.join('');
}

function createEntry(url, title, body, startPos, endPos) {
  return '<div class="item">' +
      '<a class="item_title" href="' + url + '">' + title + '</a>' +
      '<div class="item_excerpt">' + excerpt(body, startPos, endPos) + '</div>' +
      '</div>';
}

function excerpt(body, startPos, endPos) {
  return [
    body.substring(startPos - 30, startPos),
    '<b>', body.substring(startPos, endPos), '</b>',
    body.substring(endPos, endPos + 200)
  ].join('');
}

function showResult(html) {
  var el = document.getElementById('result');
  el.innerHTML = html;
}

function showResultCount(count, total) {
  var el = document.getElementById('resultCount');
  el.innerHTML = ' (' + count + ' / ' + total + ') ';
}
</script>

{{- partial "edit-meta.html" . -}}
{{- partial "pagination.html" . -}}
{{- end -}}
